<!DOCTYPE html>
<html>

    <style>
     buttom,form,h2,h3,h4,h6,div,p{
        text-align:center;
      }     
      form{
        text-align: center;
       
      }
header {
  text-align: center;
  color:#3498DB;
  background-color:#A3E4D7;
  border: 4px solid white;
}
.green{
   background-color:#A3E4D7;
      }
 div{
   background-color: #85C1E9;
   
      }
h1 {
  font-size: 36px;
  padding: 15px;
  color: #8c6b48;
  
}
     
h2 {
  font-size: 24px;
  padding: 15px;
  text-transform: uppercase;
  
}

.subtitle{
  font-size: 20px;
  color:#2874A6;
  padding: 15px;
  text-transform: uppercase;
  text-align: center;
  margin-left: 20px;
  font-weight: 500;
  line-height: 2.5;
  letter-spacing: 0.8px;
  font-family: Impact, Charcoal, sans-serif;
}


footer {
  
  text-align: center;
  font-family: Georgia, serif;
  width: 100%;
  color: #8c6b48;
  background-color: maroon;
  
}
 .Georgia{
   font-family: Georgia, serif;
   color:white;
   }
 .Helvetica{
   font-family:Helvetica;
   font-weight: bold;
   color: black;
   text-align:center;
    border: 10px dotted black;
  padding: 15px;
  background-clip: border-box;
        
 }
    .center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border:4px solid #A3E4D7;
}  
     .responsive {
       opacity: 0.5;
  width: 100%;
  height: auto;
} 
 p{
        
  font-family: "Comic Sans MS", cursive, sans-serif;
  
   }
      button{
        
        background-color: lightblue;
 
      }    
      button:hover {
        background-color:lightseagreen;
      }
      tb,tr{
        border: 1px solid black;
      }
     
     
</style>     
  
</html>
