<!DOCTYPE html>
<html>

    <style>
     
      form{
        text-align: center;
        border: 1px solid green;
      }
header {
  text-align: center;
  color:#3498DB;
  background-color:#A3E4D7;
  border: 4px solid white;
}
.green{
   background-color:#A3E4D7;
      }
 div{
   background-color: #85C1E9;
   
      }
h1 {
  font-size: 36px;
  padding: 15px;
  color: #8c6b48;
  
}
     
h2 {
  font-size: 24px;
  padding: 15px;
  text-transform: uppercase;
}

h3 {
  font-size: 15px;
  color:#2874A6;
  padding: 15px;
  text-transform: uppercase;
  text-align: left;
  margin-left: 20px;
  font-weight: 500;
  line-height: 2.5;
  letter-spacing: 0.8px;
  font-family: Impact, Charcoal, sans-serif;
}


footer {
  
  text-align: center;
  font-family: Georgia, serif;
  width: 100%;
  color: #8c6b48;
  background-color: maroon;
  
}
 .Georgia{
   font-family: Georgia, serif;
   }
 .Helvetica{
   font-family:Helvetica;
   font-weight: bold;
   color: black;
   text-align:center;
        
 }
 p{
        
  font-family: "Comic Sans MS", cursive, sans-serif;
   }
      button1{
        text-align:center;
        background-color: lightblue;
.enter{
          text-align:center;
        }   
      }    
      button1:hover {
        background-color:lightseagreen;
      }
      tb,tr{
        border: 1px solid black;
      }
</style>     
  
</html>
